	    			.dashheader{
	    			
					background-color: #181915;
					float: left;
                			width: 30;
					height: 100%;
					text-align: center;
					}
	    		
				.header{
	    			position:fixed;
					background-color: #181915;
					width:100%;
					height:60px;
					text-align: center;
					}
				.footer{
					position:relative;
					clear:both;
					height: 5%;
					width: 100%;
					text-align: center;
					background-color: #141411;					
				}

				.modal-content
					{
					position: relative;
					margin: auto;
  					background-color: #fab740;
  					border-radius: 0px;
 				 	border-top-right-radius: 100px;
  					border-bottom-left-radius: 100px;
 			 		color: #fff;
 			 	}

  				body {
    			display: flex;
    			min-height: 100vh;
    			flex-direction: column;
    			height: 100%

  				}

  				main {
  					font-family: 'arial';
  					font-weight:bold;
		    	color: white;
		    	background-color: #282923 ;
		    	background: url(../images/erpbg800.png) repeat fixed;
  				background-position: left;
  				background-repeat:repeat;
    			flex: 1 0 auto;
  				}
  				.add-height 
  				{
    			height: 700px;
				}
				.cbtn
				{
					font-family: 'arial'; 
					font-size: 14px;
					font-weight:bold;
				}
				
				.modalpos{
					width: 360px;
					left: 480px;
				}

				nav ul li.active {
				  background-color: #282923;
				  height: 56px;
				}

				    #toast-container {
					  top: auto !important;
					  right: auto !important;
					  bottom: 90%;
					  left: 45%;
					}
				}

			

		