	    			.dashheader{
	    			
					background-color: #181915;
					float: left;
                			width: 30;
					height: 100%;
					text-align: center;
					}
	    		
				.header{
	    			position:fixed;
					background-color: #181915;
					width:100%;
					height:60px;
					text-align: center;
					}
				.footer{
					position:relative;
					clear:both;
					height: 5%;
					width: 100%;
					text-align: center;
					background-color: #141411;					
				}

				.modal-content
					{
					position: relative;
					margin: auto;
  					background-color: #fab740;
  					border-radius: 0px;
 				 	border-top-right-radius: 100px;
  					border-bottom-left-radius: 100px;
 			 		color: #fff;
 			 	}

  				body {
    			display: flex;
    			min-height: 100vh;
    			flex-direction: column;
    			height: 100%

  				}

  				main {
  					font-family: 'arial';
  					font-weight:bold;
		    	color: white;
		    	background-color: #282923 ;
		    	background: url(../images/erpbg800.png) repeat fixed;
  				background-position: left;
  				background-repeat:repeat;
    			flex: 1 0 auto;
  				}
  				.add-height 
  				{
    			height: 700px;
				}
				.cbtn
				{
					font-family: 'arial'; 
					font-size: 14px;
					font-weight:bold;
				}
				
				.modalpos{
					width: 360px;
					left: 480px;
				}

				nav ul li.active {
				  background-color: #282923;
				  height: 56px;
				}

				

				#toast-container {
					  top: auto !important;
					  right: auto !important;
					  bottom: 90%;
					  left: 45%;
					}
				}

					
			 
			   input:focus {
				  border-bottom: 1px solid #7289DA !important;
				  box-shadow: 0 1px 0 0 #7289DA !important;
				}
				label.active {
				  color: royalblue !important;
				}
				input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
				    border-bottom: 1px solid #7289DA;
				    -webkit-box-shadow: 0 1px 0 0 #7289DA;
				    box-shadow: 0 1px 0 0 #7289DA;
				}
				/* icon prefix focus color */
				   .input-field .prefix.active {
				     color: #7289DA;
				   }



				div.DTE_Body div.DTE_Body_Content div.DTE_Field > label{
					padding-top: 25px;
					font-size: 1.1rem;
				}

				.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
					border: none;
					font-family: 'arial';
					font-size: 13px;
					font-weight:bold;
				}

				div.DTE div.DTE_Footer{

					background-color: #181915;
				}
				div.DTE div.DTE_Header{
					font-size: 1em;
					color: white;
					font-family: 'arial';
					font-weight:bold;
					background-color: #181915;
				}

				div.DTE button.btn, div.DTE div.DTE_Form_Buttons button{
					color: inherit;
					font-size: 12px;
					font-weight:bold;
					font-family: arial;
					position: relative;
					cursor: pointer;
					display: inline-block;
					overflow: hidden;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
					-webkit-tap-highlight-color: transparent;
					vertical-align: middle;
					z-index: 1;
					-webkit-transition: .3s ease-out;
					transition: .3s ease-out;
				}
			nav ul a{
				font-size: 1.2rem;
			}

			table.striped > tbody > tr:nth-child(odd) {
				  background-color: rgba(170, 213, 213, 0.5);
				}
		

		
		.dropdown-content{
			min-width: 300px !important;
			width: 300px !important;
			height:auto !important;
			position: static;
			background-color:#181915;
			padding: 15px;
			overflow: auto;
			white-space: nowrap;
			z-index: auto;
			margin-left: -1px;
			border: 0.1px solid white;
		}

		.dropdown-content li{
			color: #fff;
		}

		.media-meta{
			float: right;
			font-size: 1.1rem;
			color: grey;
		}

		.dropdown-content li > a, .dropdown-content li > span{
			float: left;
			color: #fff;
			font-size:1.2rem;
			font-family: 'arial';
			font-weight:bold;
			
		}

		.dropdown-content li:hover, .dropdown-content li.active{
			background-color:#181915;
			color: #fff;
		}

		.hea{
			font-size:1.5rem;
			font-family: 'arial';
			font-weight:bold;
		}

		.tableass{
			font-family: 'arial';
			font-weight:bold;
			background-color:#fff;
			overflow: auto;
			white-space: nowrap;
			z-index: auto;
			margin-left: -1px;
			border: 0.1px solid white;
			padding: 15px;
		}



